.pomodorodiv {
  display: grid;
  justify-content: center;
  align-content: center;
}

.inlinediv {
  padding-top: 5rem;

  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.pomodoro-clock-div {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}
